<div class="container-fluid elementos">

  <div class="container elemento1">
    <div class="container tarjeta">
      <h1 class="insides tituloInsc">¡Pre-inscripciones <br> escolares <br> 2024!</h1>
      <p class="insides descripcion">Te invitamos a recorrer la nueva <br> experiencia virtual de reserva de <br> cupos para escuelas públicas</p>
      <button class="insides btnInscribir button" routerLink="reserve/who">Pre-Inscribir</button>
    </div>
  </div>

  <div class="container elemento2">

    <div class="row mt-3 ">
      <div class="col-3">
      </div>
      <div class="col-2 insides" id="tarjeta1">Fechas de <br> inscripcion</div>
    </div>

    <div class="row">
      <div class="col-6"></div>
      <div class="col-2 insides" id="tarjeta2">Conoce tu <br> Colegio</div>
    </div>

  </div>
</div>


