<div class="container-fluid elemento">
  <div class="container-fluid formuCont">
    <div class="barra"></div>
    <div class="container blanco">
      <h1>¡Inscripciones abiertas!</h1>
      <div class="container periodo regular">
        <h2>Periodo regular - inicio de año</h2>
        <p>Del 20/01 hasta el 05/02</p>
        <p>Para todos los estudiantes de nivel primario y secundario que deseen estar
          en la unidad educativa desde inicios del primer trimestre.</p>
      </div>
      <div class="divider"></div>
      <div class="container periodo 1rezagados">
        <h2>1° Rezagados - Fin del 1er Trimestre</h2>
        <p>Del 20/01 hasta el 05/02</p>
        <p>Para todos los estudiantes de nivel primario y secundario que deseen estar
          en la unidad educativa desde inicios del segundo trimestre, tras finalizar el primero.</p>
      </div>
      <div class="divider"></div>
      <div class="container periodo 2rezagados">
        <h2>2° Rezagados - Fin del 2do Trimestre</h2>
        <p>Del 20/09 hasta el 05/10</p>
        <p>Para todos los estudiantes de nivel primario y secundario que deseen estar
          en la unidad educativa desde inicios del tercer y último trimestre, tras finalizar el segundo.</p>
      </div>
    </div>
  </div>
</div>
